@charset 'utf-8';

@import "~bulma/sass/utilities/initial-variables";

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";

@import '~bulma-steps-component/bulma-steps';

/* override variables here */
.drilldown {
  height: 16em;
  @include mobile {
    height: 24em;
  }
}

.fixed-corner {
  position: fixed;

  &.is-top-left {
    top: 4em;
    left: 2em;
  }
  &.is-top-right {
    top: 4em;
    right: 2em;
  }
  &.is-bottom-left {
    bottom: 2em;
    left: 2em;
  }
  &.is-bottom-right {
    bottom: 2em;
    right: 2em;
  }
}